/* Set màu khi chưa click vào */
a:link {
  color: blue;
}

/* đổi màu khi di chuột qua */
a:hover {
  color: antiquewhite;
}

/* đổi màu khi đã click truy cập */
a:visited {
  color: aquamarine;
}

/* đổi màu khi nhấn giữ chuột */
a:active {
  color: pink;
}
