body {
  /* background-image: url("https://images.unsplash.com/photo-1587713714775-fa70364f6445?"); */
  /* background-image: url(./imgs/bg.jpg);

  background-size: contain;
  background-repeat: no-repeat; */
}

h2 {
  opacity: 0;
}

h3 {
  opacity: 0.5;
}
table {
  width: 100%;
  font-size: 17px;
  line-height: 1.6;
}

h2.visible {
  visibility: hidden;
}
